*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-section{
    max-width: 700px;
    margin: 0 auto;
}

.row{
    display: flex;
}

/* DEBUG */

.debug .main-header{
    background-color: blue;
    padding: 20px;
}

/* .debug .main-content{
    min-height: 600px;
    background-color: gray;
    padding: 20px;
} */

.debug .page-footer{
    min-height: 300px;
    background-color: black;
    padding: 20px;
}

.debug .container, .container-section{
    border: 3px dashed red;
    padding: 20px;
}

.debug .container-section{
    min-height: 500px;
}

.debug .section{
    padding: 20px;
}

.debug .section.white{
    background-color: white;
    padding: 20px 0;
}

.debug .section.gray{
    background-color: gray;
    padding: 20px 0;
}

.debug .section.blue{
    background-color: aqua;
}

/* .debug .row{
    border: 2px dotted blue;
    padding: 20px;
} */

.debug [class^="col"]{
    border: 1px solid black;
    padding: 5px 15px;
}

.debug .row-col-4 > [class^="col"]{
    background-color: blue;
}

/* .debug .section-header{
    min-height: 200px;
    max-width: 500px;
    background-color: palevioletred;
} */

.debug .col.img{
    min-height: 200px;
    background-color: aquamarine;
}

.debug .col.text{
    min-height: 200px;
    background-color: pink;
}

.debug .row100 > .col{
    min-height: 400px;
    max-width: 900px;
    background-color: green;
}


/* Altezza colonne Section in Footer */
.debug .row-col-6 > [class^="col"]{
    min-height: 300px;
    background-color: azure;
}

.debug .row-col-6 > .col-double{
    background-color: papayawhip;
}

.debug .row.between{
    background-color: cadetblue;
}

.debug .between > [class^="col"]{
    background-color: peachpuff;
}

/* HEADER */

/* .main-header .row{
     justify-content: space-between;
} */

/* Non è ottimale usare la larghezza fissa perchè il menù potrebbe variare larghezza in futuro */
/* Larghezza colonne Nav in Header */
.row-col-4 > .col{
    flex-basis: calc(100% / 4);
}

/* Larghezza colonne Nav in Header  */
.row-col-4 > .col50{
    flex-grow: 1;
} 

.menu{
    color: white;
}

.col50 > .menu li{
    display: inline;
}

.col > .login{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}


/* MAIN */

.row.reverse{
    flex-direction: row-reverse;
}

.row > .col.img{
    /* Si poteva usare usare 60% */
    flex-basis: 450px;
}

.row > .col.text{
    /* Si poteva usare 40% */
    flex-grow: 1;
}

.row.row100 > .col{
    flex-basis: 100%;
}

/* FOOTER */

.row.between{
    justify-content: space-between;
    padding: 20px 0;
}

/* Larghezza colonne Section in Footer */
.row-col-6 > .col{
    flex-basis: calc(100% / 6);
}

/* Larghezza colonne Section in Footer */
.row-col-6 > .col-double{
    flex-basis: calc((100% / 6) * 2);
}